.item {
  width: 350px;
}
.item img{
  width: 350px;
  height: 418px;
}
.item p{
  margin: 6px 0px;
}
.item-prices {
  display: flex;
  gap: 20px;
}
.item-price-new {
  color: #374151;
  font-size: 18px;
  font-weight: 600;
}
.item-price-old {
    color: #8C8C8C;
    font-size: 18px;
    font-weight: 500;
    text-decoration: line-through;
  }
.item:hover{
  transform: scale(1.05);
  transition: 0.6s;
}
@media screen and (min-width: 540px){
  .navbar-nav a{
      padding-right: 1.2rem;
      padding-left: 1.2rem;
  }
  .banner-title{
      font-size: 5rem;
  }
  .banner form{
      margin-top: 1.4rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 768px){
  .navbar .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .search-input{
      padding: 0.8rem 0;
  }
  .design-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .design-item{
      margin: 0;
  }
  .blog-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
}

@media screen and (min-width: 992px){
  .blog-content{
      grid-template-columns: repeat(3, 1fr);
  }
  .about-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      align-items: center;
  }
}

@media screen and (min-width: 1200px){
  .design-content{
      grid-template-columns: repeat(3, 1fr);
  }
}